/* место для вашего кода */
.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: 0;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
}

.header__adress {
  justify-self: end;
}

.adress {
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
}

.adress__links-list {
  list-style: none;
}

.adress__links-list-item a{
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  padding: 50px;
  background: url(../images/cover.jpg) no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 0.6);
  width: 100%;
  height: 100%;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 0 135px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_right-last-letter {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 78px;
  padding-bottom: 50px;
}

.cover__description-text {
  display: inline;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 20px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.27;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding: 27px 0 30px;
  list-style: none;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-position: under;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 100%;
  min-height: 450px;
  padding: 50px 40px;
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) no-repeat;
  background-size: cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) no-repeat;
  background-size: cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) no-repeat;
  background-size: cover;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  text-underline-position: under;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.about {}

.footer {}
